# Auto detect text files and perform LF normalization on checkout
* text=auto eol=lf

# Explicitly ensure all source code files have LF line endings
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf
